*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.App {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home{
  background-color: #FE9000;
  background: url('./static/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  min-height: 100vh;
  height: auto;
  color: #79E8B5;
}
.home-container, .about-container,.project{
  padding: 0;
  font-family: 'Nunito', sans-serif;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-box{

  margin-top: 10%;
  display: inline-block;
  text-align: center;
  align-content: center;
 
}
.title-box h1, .title-box h2{
  letter-spacing: .5rem;
  word-spacing: .3rem;
  margin: 0;
}
.title-box h1{
  font-size: 3.6rem;
  padding: .3em 1.4em;
}
.title-box h2{
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #6DD1A3;
  
}
.social-box{
  
  border-top: 2px solid #FF8552;
}
.social-box, .social-box-footer{
  display: flex;
  justify-content: space-between;
}
.social-box-footer a{
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 10%;
  
}
.social-box a{
  text-decoration: none;
  color: #e6e6e6;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 10%;
  
}
.social-box span{
  margin: 0;
  font-size: .9rem;
  font-weight: 500;
  color: transparent;
  transition: .25s ease-in-out;
}
.social-box a:hover>span{
  transform: scale(1.3);
  color: #61BA91;
}

.social-box i, .social-box-footer i{
  font-size: 2rem;
  margin: 1em 1em 0.3em 1em;
  transition: .25s ease-in-out
}
.social-box a:hover>i{
  transform: scale(1.3);
  animation: bubble 1s forwards;
}

@keyframes bubble {
  0%{
    transform: scale(1.3) 
  }
  25%{
    transform: scale(1.7)
  }
  50%{
    transform: scale(1.2)
  }
  75%{
    transform: scale(1.5)
  }
  100%{
    transform: scale(1.3);
  }
}
.about{  
  text-align: center;
  margin-top: 0;
  min-height: 100vh;
  height: auto;
  background-color: #F9F9F9;
}
.about-container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about h1{
  font-size: 2.5rem;
  color: #ff543b;
  font-weight: 400;
}
.info{
  text-align: justify;
  border-left: 1px solid #FF8552;
  border-radius: 30px;
  padding: 1em; 
}
.info-container{
  
  width: 70%;
}
.info h3{
  margin: auto 1em;
}
.info p{
  margin: .5em 1em;
  font-style: italic;
}
.info a{
  color: #297373;
  font-weight: 600;
}
.info a:hover{
  cursor: pointer;
  color:#ff543b;
  font-weight: 700;
}
.profile-container{
  
  width: 20%;
  margin-left: 25px;
  padding-top: 20px;
  border-radius: 1000px;
}
.profile-container img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 1000px;
  border: 3px solid white;
  box-shadow: 3px 3px 5px 6px #ccc
}

.about-container .skills{
  
  border-left: 1px solid #FF8552;
  border-radius: 30px;
  min-height: 160px;
  padding: 0.9rem 0.9rem 1.1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
}
.skills-node{
  display: flex;
  text-align: center;
  justify-content: center; 
  flex-direction: column;
  margin: auto 1rem;
}
.skills-node img{
  display: block;
  width: 40px;
  height: 40px;
  margin: 15px 5px;
}
.skills-node p{
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
  display: block;
  padding: 0 1.5px; 
}
.skills-node:hover>p{
  font-weight: 600;
}
@media screen and (max-width: 450px){
  .about-container{
    flex-direction: column;
  }
  .info-container{
    width: 100%;
  }
  .about-container .info,.about-container .skills{
    border: none;
  }
  .about-container .skills{
    background: #ccc;
    border-radius: 0;
    margin-bottom: 0;
  }
}



.project{
  background-color: #444444;
  box-sizing: border-box;
}
.project h1{
  margin: 2rem auto;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ff543b;
}
.project-card{
  margin: 2em;
  display: flex;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  transition: .2s;
  box-sizing: border-box;
}
.project-img{
  width: 480px;
  height: 280px;
  display: flex;
  transition: .5s ease-in-out 180s;
}
.project-img img{
  width:  480px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin: 5px;
  box-shadow:rgb(0, 0, 0) 0px 0px 15px 0px;
}

.project-info{
  width: 480px;
  height: 280px;
  right: 0;
  text-align: justify;
}
.project-info h3, .project-info p, .project-info a{
  color: #F9F9F9;
}
.project-info .description{
  font-size: 1.2em;
  padding: 1em 0;
}
.project-info h3{
  font-size: 1.5em;
}
.project-info span{
  color: #53A07C
}
.project-info .tech{
  color: #79E8B5;
}
.project-info a{
  margin: 5px;
}
.project-info a:hover{
  color: #ff543b
}
.demo-note{
  font-style: italic;
  color: #fff;
}

@media screen and (max-width: 450px){
  .project-card{
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 90%;
    align-items: center;
    box-sizing: border-box
  }
  .project-img, .project-info{
    width: 100%;
    height: 50%;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
  
  }
  .project-img img{
    box-sizing: border-box;
    height: 200px;
    padding: 0;
    margin: 5px 0;
  }
}
.contact-container{
  background-color: #F9F9F9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 40px;
}
.contact-email, .contact-name{
  font-size: 1rem;
  padding: 5px 10px;
  border: 2px solid #333;
  margin: 5px 0 10px;
}
.contact-email, .contact-name{
  width: 45%;
}
.contact-message{
  width: 100%;
  resize: vertical;
  border: 2px solid #333;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px 0 10px;
  min-height: 130px;
  max-height: 29vh;
}
.email-name-container{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
}
.btn{
  width: 40%;
  margin: 5px auto;
  font-size: 1.1rem;
  font-weight: 700;
  padding: .5rem;
  border: 2px solid #333;
  background-color: #eee;
  transition: .3s ease-in-out;
}
.btn:hover{
  background: #333;
  color: #eee;
  border: 2px solid #eee;
}
.find-me{
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  border-bottom: 2px solid white;
  width: 40%;
  padding-bottom: 10px;
  margin-top: 10rem;
}

.contact-container .trademark{
  right: 5%;
  bottom: 15px;
}

.social-box-footer{
  top: 25px;
  margin: 25px;
}

@media screen and (max-width: 450px){
  .title-box h1{
    padding: 0.9rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
  }
  .social-box, .social-box-footer{
    justify-content: space-between;
    width: 90%;
    
  }
  .social-box a, .social-box-footer a{
    margin: 0 10px;
  }
  .social-box a span, .social-box-footer a span{
    margin: 5px 0;
    color: inherit;
  }
  .contact-container {
    width: 100%
  }
  .contact-container form{
    width: 90%;
  }
  
}