.Nav {
  width: 100%;
  height: 12vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav .node {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  width: 5rem;
  height: 5rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 0.8rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  transition: 300ms ease-in-out;
}

.Nav a:hover > .node {
  transform: scale(1);
  cursor: pointer;
}

.Nav a.active > .node {
  transform: scale(1);
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
}

.Nav::after {
  content: '';
  display: block;
  width: 25rem;
  height: 25px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  z-index: -1;
  transform: skew(-55deg);
  /* box-shadow: 5px 10px 1px 6px #ffffff99; */
}

@media screen and (max-width: 425px) {
  .Nav .node {
    margin: 0;
  }
  .Nav::after{
    width: 80%;
    transform: skew(0deg)
  }
  .Nav{
    width: 100%;
  }

  .Nav a.active > .node,
  .Nav a:hover > .node,
  .Nav a:active > .node {
    transform: scale(0.8);
  }
}
